<head>
<title>YourProject</title>
</head>
<frameset cols="35%,*" frameborder="1" framespacing="1">
<frame name="toc" src="left.html">
<frame name="stuff" src="acercade.htm">
</frameset>
  <noframes>
  This website requires Frames.
  </noframes>
</html>
